# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local data cache (pomiń ignorowanie, aby zdeployować pliki na GitHub i uniknąć powolnego pobierania z sieci)
# data/

# Environments
.venv/
venv/
env/
ENV/
pythonenv/
